*{ margin: 0px; padding: 0px; text-decoration: none; box-sizing: border-box; font-family: 'Roboto', Arial, sans-serif; text-size-adjust: 100%; }
p,div{
    font-size: 16px; font-weight: 500; font-style: normal;
}

ul, li { list-style: none; }

html { -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; font-size: 62.5%; }

img, div, body, html, ul, li, a { -webkit-touch-callout: none; }

input, button { outline: 0; }

button { cursor: pointer; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:#ccc; } input{-webkit-appearance:none; border:0}

html,body{
    width: 100%;
    height: auto;
    /* padding: 10px; */
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 4px;
}
b{
    font-weight: 600;
    font-size: 16px;
}
.topTitle{
    width: 100%;
    height: auto;
    padding: 8px;
    border: 2px solid #333;
}
.wrap{
    margin-top: 10px;
    width: 100%;
    height: auto;
}
h1{
    font-size: 28px;
    line-height:1.2;
    font-weight: 800;
}
h2{
    font-size: 24px;
    line-height:1.4;
}
h3{
    font-size: 20px;
    line-height:1.4;
}
h4{
    font-size: 18px;
    line-height:1.4;
    font-weight: 700;
}
h5{
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
}
.someAudio,.imageDiv{
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
.someAudio p,.imageDiv p{
    /* float: left; */
    width: auto;
    font-size: 18px;
    line-height: 40px;
    padding-right: 10px;
}
.someAudio div{
    /* float: right; */
    flex: 1;
    padding-right: 10px;
    display: flex;
}
.someAudio div audio{
    flex: 1;
    width: 100%;
    padding-left:4px;
}
.imageDiv img{
    width: auto;
    height:300px;
}
.someTab{
    line-height: 1.8;
}
.someTab table{
    display: inline-block;
    text-align: center;
}

table th{
    width: 100px;
}
table audio{
    width: 240px;
}

.lineTab{position: relative;}
.lineTab .hrline{
    position: absolute;
    left: -8px;
    width: 82px;
    transform: rotate(35deg);
    color: #111;
    transform-origin:center center;
}
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    width: auto;
}
#toc_container ul ,#toc_container ul li a{
    color: #2067af;
    line-height: 28px;
}
#toc_container ul p{
    padding-left: 2px;
}
#toc_container ul ol{
    padding-left: 14px;
}
#toc_container ul ol a{
    color: #2067af;
}